#contacto {
    margin-top: 80px;
    padding: 10px 0;
}

#contacto .section-header {
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

.contact-container {
    display: grid;
    justify-content:space-around; 
}